openapi: 3.0.1

info:
  title: mitum-data-blocksign - digest API
  description: >-
    This is API description of digest service of mitum-data-blocksign.
  contact:
    name: soonkuk
    url: https://github.com/ProtoconNet/mitum-data-blocksign
    email: soonkuk.kang@socialinfratech.com
  license:
    name: GPL-3.0
    url: https://github.com/ProtoconNet/mitum-data-blocksign/blob/master/LICENSE
  version: 0.0.1

externalDocs:
  description: Find out more about mitum-data-blocksign
  url: 'https://github.com/ProtoconNet/mitum-data-blocksign'

servers:
- url: https://testnet.blocksign.protocon.io

tags:
- name: node-info
  description: node information of mitum-currency node
- name: block
  description: block information
- name: account
  description: account state and it's operations
- name: builder
  description: build operation and broadcast it
- name: currency
  description: currency information

paths:
  /:
    get:
      tags:
      - node-info
      summary: 1. Node information
      operationId: node-info
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: node info
          content:
            application/hal+json:
              schema:
                $ref: 'components.yml#/components/schemas/NodeInfoHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/{height}:
    get:
      tags:
      - block
      summary: 1. block height로 Block 조회
      description: >-
        Basically the hal document of response does include the links for components of *block* like *manifest*.
      operationId: block-by-height
      parameters:
        - name: height
          in: path
          description: block height
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/Height'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of block by block height
          content:
            application/hal+json:
              schema:
                $ref: 'components.yml#/components/schemas/BlockHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/{height}/manifest:
    get:
      tags:
      - block
      summary: 2. block height로 Manifest 조회
      description: >-
        *block* *manifest* by height.
      operationId: manifest-by-height
      parameters:
        - name: height
          in: path
          description: block height
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/Height'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        404:
          description: not found
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of block manifest by block height
          content:
            application/hal+json:
              schema:
                $ref: 'components.yml#/components/schemas/ManifestHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/{height}/operations:
    get:
      tags:
      - block
      summary: 3. block height로 Operation 조회
      description: >-
        해당 block height의 Block안에 저장된 모든 Operation을 조회한다.
      operationId: operations-by-height
      parameters:
        - name: height
          in: path
          description: block height
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/Height'
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *operation*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more operations
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "operations not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of operations
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationsByHeightHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/operation/{operation_fact_hash}:
    get:
      tags:
      - block
      summary: 4. fact hash로 Operation 조회
      description: >-
        Operation의 **fact** *hash*로 Operation을 조회한다.
      operationId: operation
      parameters:
        - name: operation_fact_hash
          in: path
          description: >-
              *fact* *hash* of operation.
          required: true
          schema:
            type: string
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        404:
          description: not found
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/document/{document_id}:
    get:
      tags:
      - block
      summary: 5. document id로 Document 조회
      description: >-
        Operation의 *document* *id*로 Operation을 조회한다.
      operationId: operation
      parameters:
        - name: document_id
          in: path
          description: >-
              *document* *id* of document.
          required: true
          schema:
            type: string
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        404:
          description: not found
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/DocumentHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/manifests:
    get:
      tags:
      - block
      summary: 6. 전체 Manifest 조회
      description: >-
        현재까지 Blockchain Storage에 저장된 전체 Manifest를 조회한다.
      operationId: manifests
      parameters:
        - name: offset
          in: query
          schema:
            type: string
            example: "2"
          description: >-
            *manifest*s after *offset*, usually it is block *height*.
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *manifest*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more manifests
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "manifests not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of manifests
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/ManifestsHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/operations:
    get:
      tags:
      - block
      summary: 7. 전체 Operation 조회
      description: >-
        현재까지 Blockchain storage에 저장된 전체 Operation을 조회한다.
      operationId: operations
      parameters:
        - name: offset
          in: query
          schema:
            type: string
            example: "2,0"
          description: >-
            *operation*s after *offset*.
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *operation*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more operations
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "operations not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of operations
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationsHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /block/documents:
    get:
      tags:
      - block
      summary: 8. 전체 Document 조회
      description: >-
        현재까지 Blockchain storage에 저장된 전체 Document를 조회한다.
      operationId: operations
      parameters:
        - name: offset
          in: query
          schema:
            type: string
            example: "2,0"
          description: >-
            *operation*s after *offset*.
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *operation*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more documents
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "operations not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of documents
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/DocumentsHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /account/{address}:
    get:
      tags:
      - account
      summary: 1. account의 최신 상태 조회
      description: >-
        account의 최산 상태를 조회한다. 상태는 account의 *keys*와 *balance* 그리고 *document list*를 포함한다.
      operationId: account
      parameters:
        - name: address
          in: path
          description: >
            *address* of account.
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/AccountAddress'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        404:
          description: not found
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of account
          content:
            application/hal+json:
              schema:
                $ref: 'components.yml#/components/schemas/AccountHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /account/{address}/operations:
    get:
      tags:
      - account
      summary: 2. account와 연관된 Operation 조회
      description: >-
        Operations, which are related with the account.
      operationId: account-operations
      parameters:
        - name: address
          in: path
          description: >
            *address* of account.
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/AccountAddress'
        - name: offset
          in: query
          schema:
            type: string
            example: "2,0"
          description: >-
            *operation*s after *offset*.
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *operation*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more operations
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "operations not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of operations
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/AccountOperationsHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /account/{address}/documents:
    get:
      tags:
      - account
      summary: 3. account와 연관된 Document 조회
      description: >-
        account와 연관된 Document들을 조회한다. account가 owner나 signer로 있는 Document들을 조회한다.
      operationId: account-operations
      parameters:
        - name: address
          in: path
          description: >
            *address* of account.
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/AccountAddress'
        - name: offset
          in: query
          schema:
            type: string
            example: "2,0"
          description: >-
            *operation*s after *offset*.
        - name: reverse
          in: query
          schema:
            type: boolean
            example: false
            default: false
          description: >-
            *operation*s by reverse order.
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "...."
                      detail:
                        type: string
                        example: "...."
        404:
          description: no more operations
          content:
            application/problem+json:
              schema:
                allOf:
                  - $ref: 'components.yml#/components/schemas/Problem'
                  - type: object
                    properties:
                      title:
                        type: string
                        example: "operations not found"
                      detail:
                        type: string
                        example: "...."
        200:
          description: hal document of operations
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/AccountDocumentsHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /builder/operation/fact/template/{fact}:
    get:
      tags:
      - builder
      summary: 1. Operation별 fact template 조회
      description: >-
        Operation의 type별 fact template 응답받기.
      operationId: operation-builder-fact-template
      parameters:
        - name: fact
          in: path
          description: >-
              *fact* name.
          required: true
          schema:
            type: string
            enum:
            - create-accounts
            - key-updater
            - transfers
            - currency-register
            - currency-policy-updater
            - create-documents
            - sign-documents
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        404:
          description: template not found
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation fact template
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationTemplateCreateAccountsFactHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /builder/operation/fact:
    post:
      tags:
      - builder
      summary: 2. Fact message 완성된 Operation 받기.
      description: >-
        fact의 내용(sender, item)을 작성하여 전달하면 fact hash, token 등이 완성된 Operation message을 응답받는다.
      operationId: operation-fact-builder
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'components.yml#/components/schemas/CreateAccountsFactForTemplate'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        400:
          description: problems in request.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation template with signed fact.
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationTemplateCreateAccountsHAL'

  /builder/operation/sign:
    post:
      tags:
      - builder
      summary: 3. Fact Sign 추가하여 완성된 Operation 받기. 
      description: >-
        Operation에 Fact Sign을 추가한 후 전달하면 Operation hash가 완성된 Operation message를 전달받는다.
      operationId: operation-fact-builder-sign
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'components.yml#/components/schemas/CreateAccounts'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        400:
          description: problems in request.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation template with signed fact.
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationTemplateCreateAccountsSignHAL'

  /builder/send:
    post:
      tags:
      - builder
      summary: 4. Network에 message 전송하기.
      description: >-
        It receives the operation or seal and broadcasts to the network. The signer of seal(not *operation*) will be digest node itself. Such as,

        - If request body is *operation*, new seal will be created with the given *operation* and the new seal will be signed by digest node.

        - If request body is *seal*, it will be signed by digest node.
      operationId: operation-builder-send
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: 'components.yml#/components/schemas/Seal'
                - $ref: 'components.yml#/components/schemas/CreateAccounts'
                - $ref: 'components.yml#/components/schemas/KeyUpdater'
                - $ref: 'components.yml#/components/schemas/Transfers'
                - $ref: 'components.yml#/components/schemas/CreateDocuments'
                - $ref: 'components.yml#/components/schemas/SignDocuments'
                - $ref: 'components.yml#/components/schemas/CurrencyRegister'
                - $ref: 'components.yml#/components/schemas/CurrencyPolicyUpdater'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        400:
          description: problems in request.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of operation template with signed fact.
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/OperationTemplateCreateAccountsHAL'

  /currency:
    get:
      tags:
      - currency
      summary: 1. 전체 Currency 조회
      operationId: currencies
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of currencies
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/CurrenciesHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64

  /currency/{currency_id}:
    get:
      tags:
      - currency
      summary: 2. currency id로 currency 조회
      operationId: currency
      parameters:
        - name: currency_id
          in: path
          description: currency unique id(or name)
          required: true
          schema:
            $ref: 'components.yml#/components/schemas/CurrencyID'
      responses:
        500:
          description: problems in processing.
          content:
            application/problem+json:
              schema:
                $ref: 'components.yml#/components/schemas/Problem'
        200:
          description: hal document of currency of *currency_id*
          content:
            application/hal+json:
              schema:
                $ref: 'hal_components.yml#/components/schemas/CurrencyHAL'
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Rate-Remaining:
              description: remains request count
              schema:
                type: integer
                format: int32
            X-Rate-Reset:
              description: timestamp to reset limit
              schema:
                type: integer
                format: int64